.table-container {
  display: grid;
  grid-template-columns: 30px repeat(7, 1fr);
  margin: 20px;
  overflow-y: auto;

  &.status {
    grid-template-columns: 30px repeat(8, 1fr);
    height: 300px;
  }
}

.table-container .header,
.table-container .row {
  display: contents;
}

.table-container .header div,
.table-container .row div {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-container .header {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-container .row:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container .row div {
  word-wrap: break-word;
}

.table-container input[type='checkbox'] {
  margin: 0;
  transform: scale(1.2);
}

.checkbox-container {
  display: flex;
  justify-content: center;
}

.header-cell {
  display: flex;
  align-items: center;
}

.sort-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: unset;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: unset;
  cursor: pointer;
  transition: border-color 0.25s;
}
